/*
 * pipeline input parameters
 */

params {
    reads                                 = null
    outdir                                = "/workspaces/training/nf4-science/TaxoFlow/output"
    bowtie2_index                         = "/workspaces/training/nf4-science/TaxoFlow/data/genome/TAIR10/TAIR10"
    kraken2_db                            = "/workspaces/training/nf4-science/TaxoFlow/data/krakendb"
}

// Enable using docker as the container engine to run the pipeline
docker.enabled = true
