/*
 * pipeline input parameters
 */

params {
    reads                                 = null
    outdir                                = "${projectDir}/output"
    bowtie2_index                         = "${projectDir}/data/genome/TAIR10"
    kraken2_db                            = "${projectDir}/data/krakendb"
    read_length                           = 250
}

// Enable using docker as the container engine to run the pipeline
docker.enabled = true

// Hard copies of files
workflow.output.mode = 'copy'
outputDir = params.outdir