/*
 * pipeline input parameters
 */

params {
    reads                                 = null
    outdir                                = "${projectDir}/output"
    bowtie2_index                         = "${projectDir}/data/genome/TAIR10/TAIR10"
    kraken2_db                            = "${projectDir}/data/krakendb"
    sheet_csv                             = null
    report                                = "${projectDir}/bin/report.Rmd"
    report_id                             = "all_samples"
}

// Enable using docker as the container engine to run the pipeline
docker.enabled = true

report {
    enabled = true
    file = "${projectDir}/output/performanceReport.html"
    overwrite = true
}

// Hard copies of files
workflow.output.mode = 'copy'
outputDir = params.outdir